{% extends "base.html" %}

{% block base %}
<div class="container-center">
	{% if win %}
		<h1 class="align">{{win | title}} won!</h1>
	{% elif turn %}
		<h1 class="align-left">
			{{turn | title}}'s turn
		</h1>
	{% else %}
		<h1 class="align">Gomoku</h1>
	{% endif %}
	{% if turn %}
	<h1 id="timer" class="align-middle">
		Time: 0
	</h1>
	<h1 class="align-right">
		Captures: {{ board.captures[turn] }}
	</h1>
	{% endif %}
</div>
<table cellpadding="0" cellspacing="0" class="center-screen">
	{% for row in range(19) %}
		<tr>
			{% for col in range(19) %}
				<td>
					<form action="{{ url_for('place_pawn', row=row, col=col) }}" method="POST">
						{% if row == 0 and col == 0 %}
							{% if board.get_position_value(row, col) == None %}
								<input type="image"
									src="../static/imgs/go_board_up_left.png"
									width={{board_size}} height={{board_size}}>
							{% elif board.get_position_value(row, col) == 'white' %}
								<input type="image"
									src="../static/imgs/go_board_up_left_white.png"
									width={{board_size}} height={{board_size}}>
							{% else %}
								<input type="image"
									src="../static/imgs/go_board_up_left_black.png"
									width={{board_size}} height={{board_size}}>
							{% endif %}
						{% elif row == 0 and col == 18 %}
							{% if board.get_position_value(row, col) == None %}
								<input type="image"
									src="../static/imgs/go_board_up_right.png"
									width={{board_size}} height={{board_size}}>
							{% elif board.get_position_value(row, col) == 'white' %}
								<input type="image"
									src="../static/imgs/go_board_up_right_white.png"
									width={{board_size}} height={{board_size}}>
							{% else %}
								<input type="image"
									src="../static/imgs/go_board_up_left_black.png"
									width={{board_size}} height={{board_size}}>
							{% endif %}
						{% elif row == 0 %}
							{% if board.get_position_value(row, col) == None %}
								<input type="image"
									src="../static/imgs/go_board_up.png"
									width={{board_size}} height={{board_size}}>
							{% elif board.get_position_value(row, col) == 'white' %}
								<input type="image"
									src="../static/imgs/go_board_up_white.png"
									width={{board_size}} height={{board_size}}>
							{% else %}
								<input type="image"
									src="../static/imgs/go_board_up_black.png"
									width={{board_size}} height={{board_size}}>
							{% endif %}
						{% elif row == 18 and col == 0 %}
							{% if board.get_position_value(row, col) == None %}
								<input type="image"
									src="../static/imgs/go_board_down_left.png"
									width={{board_size}} height={{board_size}}>
							{% elif board.get_position_value(row, col) == 'white' %}
								<input type="image"
									src="../static/imgs/go_board_down_left_white.png"
									width={{board_size}} height={{board_size}}>
							{% else %}
								<input type="image"
									src="../static/imgs/go_board_down_left_black.png"
									width={{board_size}} height={{board_size}}>
							{% endif %}
						{% elif row == 18 and col == 18 %}
							{% if board.get_position_value(row, col) == None %}
								<input type="image"
									src="../static/imgs/go_board_down_right.png"
									width={{board_size}} height={{board_size}}>
							{% elif board.get_position_value(row, col) == 'white' %}
								<input type="image"
									src="../static/imgs/go_board_down_right_white.png"
									width={{board_size}} height={{board_size}}>
							{% else %}
								<input type="image"
									src="../static/imgs/go_board_down_right_black.png"
									width={{board_size}} height={{board_size}}>
							{% endif %}
						{% elif row == 18 %}
							{% if board.get_position_value(row, col) == None %}
								<input type="image"
									src="../static/imgs/go_board_down.png"
									width={{board_size}} height={{board_size}}>
							{% elif board.get_position_value(row, col) == 'white' %}
								<input type="image"
									src="../static/imgs/go_board_down_white.png"
									width={{board_size}} height={{board_size}}>
							{% else %}
								<input type="image"
									src="../static/imgs/go_board_down_black.png"
									width={{board_size}} height={{board_size}}>
							{% endif %}
						{% elif col == 0 %}
							{% if board.get_position_value(row, col) == None %}
								<input type="image"
									src="../static/imgs/go_board_left.png"
									width={{board_size}} height={{board_size}}>
							{% elif board.get_position_value(row, col) == 'white' %}
								<input type="image"
									src="../static/imgs/go_board_left_white.png"
									width={{board_size}} height={{board_size}}>
							{% else %}
								<input type="image"
									src="../static/imgs/go_board_left_black.png"
									width={{board_size}} height={{board_size}}>
							{% endif %}
						{% elif col == 18 %}
							{% if board.get_position_value(row, col) == None %}
								<input type="image"
									src="../static/imgs/go_board_right.png"
									width={{board_size}} height={{board_size}}>
							{% elif board.get_position_value(row, col) == 'white' %}
								<input type="image"
									src="../static/imgs/go_board_right_white.png"
									width={{board_size}} height={{board_size}}>
							{% else %}
								<input type="image"
									src="../static/imgs/go_board_right_black.png"
									width={{board_size}} height={{board_size}}>
							{% endif %}
						{% else %}
							{% if board.get_position_value(row, col) == None %}
								<input type="image"
									src="../static/imgs/go_board_mid.png"
									width={{board_size}} height={{board_size}}>
							{% elif board.get_position_value(row, col) == 'white' %}
								<input type="image"
									src="../static/imgs/go_board_mid_white.png"
									width={{board_size}} height={{board_size}}>
							{% else %}
								<input type="image"
									src="../static/imgs/go_board_mid_black.png"
									width={{board_size}} height={{board_size}}>
							{% endif %}
						{% endif %}
					</form>
				</td>
			{% endfor %}
		</tr>
	{% endfor %}
</table>
<br>
<br>
{% if turn or win %}
	<form action="{{ url_for('stop') }}" method="GET" class="center-screen">
		<input type="submit" value="Stop Game">
	</form>
{% else %}
	<div class="container-center">
		<form action="{{ url_for('start', adversary='human') }}" method="POST" class="inline">
			<input type="submit" value="Play with two">
		</form>
		<form action="{{ url_for('start', adversary='AI') }}" method="POST" class="inline">
			<input type="submit" value="Play with AI">
		</form>
	</div>
{% endif %}
{% if turn %}
	<script>
		var timer = 0;
		x = setInterval(function() {
			timer += 0.1;
			document.getElementById("timer").innerHTML = "Time: " + timer.toFixed(1).toString();
		}, 100);
	</script>
{% endif%}
<form name="AI_play" action="{{ url_for('AI_play') }}" method="POST" class="center-screen">
	<input type="hidden" type="submit" value="AI play">
</form>
{% if play_against_AI and turn == 'black' %}
	<script>
		document.AI_play.submit();
	</script>
{% endif %}
{% endblock %}
