{% extends "base.html" %}

{% block base %}
<div class="container-center">
	{% if turn %}
		<h1 class="align-left">
			{{turn | title}}'s turn
		</h1>
	{% else %}
		<h1>Gomoku</h1>
	{% endif %}
	{% if turn %}
	<h1 id="timer" class="align-right">
		Time: 0
	</h1>
	{% endif %}
</div>
<table cellpadding="0" cellspacing="0" class="center-screen">
	{% for row in range(19) %}
		<tr>
			{% for col in range(19) %}
				<td>
					<form action="{{ url_for('index', row=row, col=col) }}" method="POST">
						{% if row == 0 and col == 0 %}
							{% if board.get_position_value(row, col) == None %}
								<input type="image"
									src="../static/imgs/go_board_up_left.png"
									width={{board_size}} height={{board_size}}>
							{% elif board.get_position_value(row, col) == 'white' %}
								<input type="image"
									src="../static/imgs/go_board_up_left_white.png"
									width={{board_size}} height={{board_size}}>
							{% else %}
								<input type="image"
									src="../static/imgs/go_board_up_left_black.png"
									width={{board_size}} height={{board_size}}>
							{% endif %}
						{% elif row == 0 and col == 18 %}
							{% if board.get_position_value(row, col) == None %}
								<input type="image"
									src="../static/imgs/go_board_up_right.png"
									width={{board_size}} height={{board_size}}>
							{% elif board.get_position_value(row, col) == 'white' %}
								<input type="image"
									src="../static/imgs/go_board_up_right_white.png"
									width={{board_size}} height={{board_size}}>
							{% else %}
								<input type="image"
									src="../static/imgs/go_board_up_left_black.png"
									width={{board_size}} height={{board_size}}>
							{% endif %}
						{% elif row == 0 %}
							{% if board.get_position_value(row, col) == None %}
								<input type="image"
									src="../static/imgs/go_board_up.png"
									width={{board_size}} height={{board_size}}>
							{% elif board.get_position_value(row, col) == 'white' %}
								<input type="image"
									src="../static/imgs/go_board_up_white.png"
									width={{board_size}} height={{board_size}}>
							{% else %}
								<input type="image"
									src="../static/imgs/go_board_up_black.png"
									width={{board_size}} height={{board_size}}>
							{% endif %}
						{% elif row == 18 and col == 0 %}
							{% if board.get_position_value(row, col) == None %}
								<input type="image"
									src="../static/imgs/go_board_down_left.png"
									width={{board_size}} height={{board_size}}>
							{% elif board.get_position_value(row, col) == 'white' %}
								<input type="image"
									src="../static/imgs/go_board_down_left_white.png"
									width={{board_size}} height={{board_size}}>
							{% else %}
								<input type="image"
									src="../static/imgs/go_board_down_left_black.png"
									width={{board_size}} height={{board_size}}>
							{% endif %}
						{% elif row == 18 and col == 18 %}
							{% if board.get_position_value(row, col) == None %}
								<input type="image"
									src="../static/imgs/go_board_down_right.png"
									width={{board_size}} height={{board_size}}>
							{% elif board.get_position_value(row, col) == 'white' %}
								<input type="image"
									src="../static/imgs/go_board_down_right_white.png"
									width={{board_size}} height={{board_size}}>
							{% else %}
								<input type="image"
									src="../static/imgs/go_board_down_right_black.png"
									width={{board_size}} height={{board_size}}>
							{% endif %}
						{% elif row == 18 %}
							{% if board.get_position_value(row, col) == None %}
								<input type="image"
									src="../static/imgs/go_board_down.png"
									width={{board_size}} height={{board_size}}>
							{% elif board.get_position_value(row, col) == 'white' %}
								<input type="image"
									src="../static/imgs/go_board_down_white.png"
									width={{board_size}} height={{board_size}}>
							{% else %}
								<input type="image"
									src="../static/imgs/go_board_down_black.png"
									width={{board_size}} height={{board_size}}>
							{% endif %}
						{% elif col == 0 %}
							{% if board.get_position_value(row, col) == None %}
								<input type="image"
									src="../static/imgs/go_board_left.png"
									width={{board_size}} height={{board_size}}>
							{% elif board.get_position_value(row, col) == 'white' %}
								<input type="image"
									src="../static/imgs/go_board_left_white.png"
									width={{board_size}} height={{board_size}}>
							{% else %}
								<input type="image"
									src="../static/imgs/go_board_left_black.png"
									width={{board_size}} height={{board_size}}>
							{% endif %}
						{% elif col == 18 %}
							{% if board.get_position_value(row, col) == None %}
								<input type="image"
									src="../static/imgs/go_board_right.png"
									width={{board_size}} height={{board_size}}>
							{% elif board.get_position_value(row, col) == 'white' %}
								<input type="image"
									src="../static/imgs/go_board_right_white.png"
									width={{board_size}} height={{board_size}}>
							{% else %}
								<input type="image"
									src="../static/imgs/go_board_right_black.png"
									width={{board_size}} height={{board_size}}>
							{% endif %}
						{% else %}
							{% if board.get_position_value(row, col) == None %}
								<input type="image"
									src="../static/imgs/go_board_mid.png"
									width={{board_size}} height={{board_size}}>
							{% elif board.get_position_value(row, col) == 'white' %}
								<input type="image"
									src="../static/imgs/go_board_mid_white.png"
									width={{board_size}} height={{board_size}}>
							{% else %}
								<input type="image"
									src="../static/imgs/go_board_mid_black.png"
									width={{board_size}} height={{board_size}}>
							{% endif %}
						{% endif %}
					</form>
				</td>
			{% endfor %}
		</tr>
	{% endfor %}
</table>
<br>
<br>
{% if turn %}
	<form action="{{ url_for('index', state='STOP') }}" method="POST" class="center-screen">
		<input type="submit" value="Stop Game">
	</form>
{% else %}
	<form action="{{ url_for('index', state='START') }}" method="POST" class="center-screen">
		<input type="submit" value="Start Game">
	</form>
{% endif %}

{% if turn %}
	<script>
		var timer = 0;
		x = setInterval(function() {
			timer += 1;
			document.getElementById("timer").innerHTML = "Time: " + timer.toString();
		}, 1000);
	</script>
{% endif%}
{% endblock %}
